<h3 class="title is-3">ユーザー編集</h3>

<%= form_with model: @user, html: { multipart: true, class: 'box' } do |f| %>
  <div class="field">
    <%= f.label :first_name, "名字", class: 'label' %>
    <%= f.text_field :first_name, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :last_name, "名前", class: 'label' %>
    <%= f.text_field :last_name, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス", class: 'label' %>
    <%= f.text_field :email, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :profile, "自己紹介", class: 'label' %>
    <%= f.text_area :profile, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :image, "プロフィール画像変更" %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.submit "編集を完了する", class: 'button is-primary' %>
  </div>
<% end %>
