<%= render 'shared/flash_messages' %>

<section>
  <div class="background-image">
    <% if @user.background_image? %>
      <%= image_tag @user.background_image.url, class: 'background-class' %>
    <% else %>
      <%= image_tag 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVVrO//Ct2NAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=', class: 'background-class' %>
    <% end %>
    <div class="profile-image has-text-centered">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: 'profile-icon' %>
      <% else %>
        <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', class: 'profile-icon' %>
      <% end %>
    </div>
  </div>
  <div class="user-name has-text-centered">
    <%= @user.first_name %> <%= @user.last_name %>
  </div>
  <div class="user-button pt-3">
    <%= link_to 'プロフィール編集', edit_user_path(current_user), class: "button is-link is-rounded"%>
  </div>
  <div class="user-profile-title is-size-5 pt-5">あなたのプロフィール</div>
  <div class="user-profile-display box">
    <p class="is-size-6"><%= @user.profile %></p>
  </div>
</div>
<div class="columns is-multiline">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="column is-half">
        <div class="card">
          <header class="card-header is-flex is-justify-content-space-between">
            <div class="card-header-title">
              <%= post.name %>
            </div>
            <div class="card-header-icon">
              <% if @favorited_post_ids.include?(post.id) %>
                <%= link_to post_favorites_path(post), method: :delete, class: "mr-2" do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(post), method: :post, class: "mr-2" do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
              <span><%= post.favorites_count %></span>
            </div>
          </header>
          <div class="card-content">
            <div class="content average-score mb-3">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= post.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= post.avg_score %>点（<%= post.reviews_count %>件のレビュー）
              </div>
            </div>
            <div class="post-address mb-3 has-text-weight-bold">
              住所｜<%= post.address %>
            </div>
            <% if post.postimage? %>
              <div class="image-container">
                <%= image_tag post.postimage.url %>
              </div>
            <% else %>
              <div class="image-container">
                <%= image_tag 'https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg' %>
              </div>
            <% end %>
            <div class="post-date mb-1 mt-2 has-text-weight-bold is-flex is-justify-content-flex-end">
              投稿日｜<%= post.created_at.to_s(:datetime_jp)%>
            </div>
          </div>
          <footer class="card-footer">
            <%= link_to 'この投稿の詳細へ', post_path(post), class: "card-footer-item" %>
            <%= link_to "投稿を削除する", post_path(post), method: :delete, class: "card-footer-item", data: { confirm: "本当に削除しますか？" } %>
          </footer>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="column is-full">
      <div class="notification is-info">
        現在の投稿はありません。新しい投稿を作成してみましょう。
      </div>
    </div>
  <% end %>
</div>
</section>
<%= javascript_include_tag 'service.js' %>
