<section class="user-section">
  <div class="user-container">
    <div class="columns is-multiline">
      <div class="background-image">
        <% if @user.background_image? %>
          <%= image_tag @user.background_image.url, class: 'background-class' %>
        <% else %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', class: 'background-class' %>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column is-narrow">
        <figure class="image mb-6">
          <% if @user.image? %>
            <%= image_tag @user.image.url, class: 'rounded-circle small-icon mr15' %>
          <% else %>
            <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', class: 'rounded-circle small-icon mr15' %>
          <% end %>
        </figure>
      </div>
      <div class="column">
        <h3 class="title is-3 has-text-left"><%= @user.first_name %> <%= @user.last_name %></h3>
      </div>
    </div>
    <div class="columns is-multiline">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="column is-half">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  タイトル名｜<%= post.name %>
                </p>
              </header>
              <div class="card-content">
                <div class="content average-score mb-3">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= post.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= post.avg_score %>点（<%= post.reviews.count %>件のレビュー）
                  </div>
                </div>
                <div class="post-address mb-3 has-text-weight-bold">
                  国名｜<%= post.country %><br>
                  住所｜<%= post.address %>
                  投稿日｜<%= post.created_at.to_s(:long) %>
                  <%= link_to '詳細画面', detail_post_path(post) %>
                </div>
                <% if post.avatar? %>
                  <%= image_tag post.avatar.url, class: 'image' %>
                <% else %>
                  <%= image_tag 'https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg', class: 'image' %>
                <% end %>
              </div>
              <footer class="card-footer">
                <%= link_to 'レビューを見る', post_reviews_path(post), class: "card-footer-item" %>
                <%= link_to 'レビューを書く', post_path(post), class: "card-footer-item" %>
              </footer>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="column is-full">
          <div class="notification is-info">
            現在の投稿はありません。新しい投稿を作成してみましょう。
          </div>
        </div>
      <% end %>
      <%= link_to 'プロフィール編集', user_path(current_user)%>
    </div>
  </div>
</section>
