<% if flash[:notice] %>
  <div class="notification is-primary">
    <button class="delete"></button>
    <%= flash[:notice] %>
  </div>
<% end %>

<section class="user-section">
  <div class="user-container">
    <div class="user-columns is-multiline">
      <div class="background-image">
        <% if @user.background_image? %>
          <%= image_tag @user.background_image.url, class: 'background-class' %>
        <% else %>
          <%= image_tag 'https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-1-760x460.png', class: 'background-class' %>
        <% end %>
      </div>
    </div>
      <div class="user-column">
        <h3 class="title"><%= @user.first_name %> <%= @user.last_name %></h3>
        <%= link_to 'プロフィール編集', edit_user_path(current_user)%>
      </div>
    </div>
    <div class="user-profile is-size-5">あなたのプロフィール</div>
    <div class="box">
      <p class="is-size-6"><%= @user.profile %></p>
    </div>
    <h2 class="title is-4 has-text-centered mb-5"><%= @user.first_name %> <%= @user.last_name %>様の投稿一覧</h2>
    <div class="columns is-multiline">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="column is-half">
            <div class="card">
              <header class="card-header is-flex is-justify-content-space-between">
                <div class="card-header-title">
                  <%= post.name %>
                </div>
                <div class="card-header-icon">
                  <% if current_user.already_favorited?(post) %>
                    <%= link_to post_favorites_path(post), method: :delete, class: "mr-2" do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(post), method: :post, class: "mr-2" do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <span><%= post.favorites.count %></span>
                </div>
              </header>
              <div class="card-content">
                <div class="content average-score mb-3">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= post.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= post.avg_score %>点（<%= post.reviews.count %>件のレビュー）
                  </div>
                </div>
                <div class="post-address mb-3 has-text-weight-bold">
                  住所｜<%= post.address %>
                </div>
                <% if post.postimage? %>
                  <%= image_tag post.postimage.url, class: 'image' %>
                <% else %>
                  <%= image_tag 'https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg', class: 'image' %>
                <% end %>
                <div class="post-date mb-1 mt-2 has-text-weight-bold is-flex is-justify-content-flex-end">
                  投稿日｜<%= post.created_at.to_s(:datetime_jp)%>
                </div>
              </div>
              <footer class="card-footer">
                <%= link_to 'この投稿の詳細へ', post_path(post), class: "card-footer-item" %>
                <%= link_to "投稿を削除する", post_path(post), method: :delete, class: "card-footer-item", data: { confirm: "本当に削除しますか？" } %>
              </footer>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="column is-full">
          <div class="notification is-info">
            現在の投稿はありません。新しい投稿を作成してみましょう。
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= javascript_include_tag 'users.js' %>
