<section class="section">
  <div class="user-container">
    <h3 class="title">ユーザー詳細</h3>

    <figure class="image mb-6">
      <h3 class="mb-2 is-size-3">アイコン画像</h3>
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: 'rounded-circle small-icon mr15' %>
      <% else %>
        <%= image_tag 'https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-1-760x460.png', class: 'is-rounded' %>
      <% end %>
    </figure>

    <table class="table is-fullwidth is-hoverable mt-5">
      <tbody>
        <tr>
          <th>名字</th>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.profile %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to "ユーザー編集", edit_user_path(@user), class: 'button is-primary' %>
</section>
