<%= search_form_for @q, url: search_post_show_path do |f| %>
  <p class="has-text-centered is-size-2">興味のあるキーワードから検索する</p>
  <div class="columns is-mobile">
    <div class="column is-10">
      <%= f.search_field :name_or_detail_cont, class: 'input is-medium', placeholder: 'カフェ巡り、京都見物、渋谷 etc' %>
    </div>
    <div class="column is-2">
      <%= f.submit "検索", class: "button is-primary is-medium is-fullwidth" %>
    </div>
  </div>
<% end %>

<p>人気エリア（日本）から検索する</p>
<div class="container">
  <div class="item">
    <span class="item-style">東京都</span>
    <p>日本の首都で、伝統と最新のトレンドが共存する都市。浅草の寺院、皇居、渋谷のネオン、おしゃれな原宿。どこを歩いても新しい発見と感動が待っている</p>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/thegate/2020/08/12/14/32/34/tokyotower.jpg", size: "500x500"), search_post_show_path(q: { address_cont: "東京都" }) %>
  </div>
  
  <div class="item">
    <span class="item-style">大阪府</span>
    <p>日本経済の中心で多くの人が集まる場。通天閣や大阪城、USJなどの観光スポットが有名。画像の道頓堀では昔多くの野球ファンが近くの川に飛び込みニュースになった</p>
    <%= link_to image_tag("https://media.gettyimages.com/id/623544546/ja/%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%95%E3%82%A9%E3%83%88/neon-ads-in-dotonbori-district-osaka-kansai-region-japan.jpg?s=612x612&w=gi&k=20&c=OFH0QnhaZgp7e_k0jUsWzphfy9UJ9pPbQADvJ7E3yq8=", size: "500x500"), search_post_show_path(q: { address_cont: "大阪府" }) %>
  </div>
  
  <div class="item">
    <span class="item-style">京都府</span>
    <p>日本の古都で、千年以上の歴史を持つ。金閣寺や清水寺などの伝統的建築物、美しい紅葉や桜、伝統的な祭りや茶道など多く訪れる者を魅了する</p>
    <%= link_to image_tag("https://bluegreen.jp/wp-content/uploads/2020/01/IMG_9943-1920x1280.jpg", size: "500x500"), search_post_show_path(q: { address_cont: "京都府" }) %>
  </div>
 
  <div class="item">
    <span class="item-style">愛知県</span>
    <p>伝統と技術の交差点。金の鯱が輝く素晴らしき名古屋城と、世界をリードするトヨタ、そして地元の伝統の工芸まで。一度の訪問で、二度の感動を得ることができる</p>
    <%= link_to image_tag("https://hanahana01.com/wp-content/uploads/2021/07/DSC08764.jpg", size: "500x500"), search_post_show_path(q: { address_cont: "愛知県" }) %>
  </div>

  <div class="item">
    <span class="item-style">広島県</span>
    <p>平和の象徴として知られ、原爆ドームや平和記念公園が訪れる人々の心を打つ。お好み焼きや広島城、宮島の厳島神社も絶景。歴史と自然の調和が美しい場所</p>
    <%= link_to image_tag("https://fs.tour.ne.jp/index.php/file_manage/view/?contents_code=curation&file_name=419/21347/9aa0e0842b4f49267340d37482f129ba.jpg&w=1200", size: "500x500"), search_post_show_path(q: { address_cont: "広島県" }) %>
  </div>

  <div class="item">
    <span class="item-style">北海道</span>
    <p>四季折々の美しさが際立ち、冬の雪景色や夏のラベンダー畑は圧巻。新鮮な海鮮料理、大雪山、オホーツクの流氷も。自然豊かな広大な土地が魅了する</p>
    <%= link_to image_tag("https://mikissh.com/diary/wp-content/uploads/sites/3/2020/02/Sapporo-Snow-Festival-4.jpg", size: "500x500"), search_post_show_path(q: { address_cont: "北海道" }) %>
  </div>

  <div class="item">
    <span class="item-style">沖縄県</span>
    <p>青い海と白い砂浜、サンゴ礁の美しいダイビングスポット、伝統的な流しソーメンや泡盛、歴史深い首里城や伝統芸能エイサー。南国の自然と文化が心を引き寄せる</p>
    <%= link_to image_tag("https://s3-ap-northeast-1.amazonaws.com/tabi-channel/upload_by_admin/okinawa_kanko_90_image_800", size: "500x500"), search_post_show_path(q: { address_cont: "沖縄県" }) %>
  </div>

  <div class="item">
    <span class="item-style">千葉県</span>
    <p>夢と魔法の王国、ディズニーランドとディズニーシーが人々を魅了。銚子の新鮮な魚、房総の温泉、成田山の歴史。自然と冒険、伝統の絶妙なコンビネーション</p>
    <%= link_to image_tag("https://www.rurubu.travel/wp-content/uploads/2022/06/DISNEYLAND.jpg", size: "500x500"), search_post_show_path(q: { address_cont: "千葉県" }) %>
  </div>
</div>
