<section class="section mt-5">
  <div class="result">
    <p class="is-size-2">投稿検索結果画面</p>
    <p class="is-size-4">
      検索結果：<%= @results.count %> 件
    </p>
  </div>
</section>

<section class="section mt-6">
  <div class="container">
    <div class="columns is-multiline">
      <% @results.each do |result| %> 
        <div class="column is-half"> 
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%= result.name %>
              </p>
            </header>
            <div class="card-content">
              <% if result.avatar? %>
                <%= image_tag result.avatar.url, class: 'image' %>
              <% else %>
                <%= image_tag 'https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg', class: 'image' %>
              <% end %>

              <div class="post-address mb-3 has-text-weight-bold"> 
                <%= result.address %>
              </div>
              <p><%= result.country %></p>
              <p><%= result.detail %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
