<div class="review-container">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <% @reviews.each do |review| %>
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <% if review.user.image? %>
                  <%= image_tag review.user.image.url, alt: "#{review.user.first_name} #{review.user.last_name}" %>
                <% else %>
                  <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', alt: 'Default Avatar', class: 'rounded-circle' %>
                <% end %>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= "#{review.user.first_name} #{review.user.last_name}" %></strong>
                  <br>
                  <span><%= review.score %>/5点</span>
                  <br>
                  <span class="review-content"><%= review.content %></span>
                </p>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</div>
