<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <% @posts.each do |post| %>
          <div class="card mb-6">
            <header class="card-header">
              <p class="card-header-title">
                <%= post.name %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <p><strong>国名:</strong> <%= post.country %></p>
                <p><strong>住所:</strong> <%= post.address %></p>
                <p><strong>詳細:</strong> <%= post.detail %></p>
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width:">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to new_post_path, class: "button card-footer-item" do %>
                レビューを書く画面に戻る
              <% end %>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
