<div class="container">
  <div class="centered-form box">
    <%= render "shared/error", obj: @post %>
    <% if @post.persisted? %> 
      <p>投稿日: <%= @post.created_at.to_s(:long) %></p> 
    <% end %>
  <h2>投稿作成画面</h2>
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-field">
        <label>訪れた場所</label>
        <%= f.text_field :name %>
      </div>

      <div class="form-field">
        <label>国名</label>
        <%= f.text_field :country %>
      </div>

      <div class="form-field">
        <label>住所</label>
        <%= f.text_field :address %>
      </div>

      <div class="form-field">
        <label>詳細</label>
        <%= f.text_area :detail, rows: 5, cols: 50 %>
      </div>

      <div class="form-field">
        <%= f.label :avatar, "画像" %>
        <%= f.file_field :avatar %>
      </div>

      <div class="form-actions">
        <%= link_to "戻る", posts_path, class: "styled-button" %>
        <%= f.submit "登録してレビュー画面に移る", class: "styled-button" %>
      </div>
    <% end %>
  </div>
</div>
  
<script>
  function redirectToMapPage() {
    window.location.href = "/map/index";
  }

  document.addEventListener("DOMContentLoaded", function() {
    let savedAddress = getCookie("selectedAddress");
    let savedCountry = getCookie("selectedCountry");

    if (savedAddress) {
      document.getElementById("post_address").value = decodeURIComponent(savedAddress);
    }

    if (savedCountry) {
      document.getElementById("post_country").value = decodeURIComponent(savedCountry);
    }
  });

  function getCookie(name) {
    let value = "; " + document.cookie;
    let parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
</script>
