<section class="my-container">
  <header class="title is-1 has-text-centered">
    <%= @post.name %>
  </header>

  <div class="avatar-image">
    <% if @post.postimage? %>
      <%= image_tag @post.postimage.url ,class: 'avatar-class' %>
    <% else %>
      <%= image_tag 'https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg', class: 'avatar-class' %>
    <% end %>
  </div>

  <div class="card-content mt-4">
    <div class="content average-score mb-3">
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= @post.review_score_percentage %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display ml-3 pt-2">
        <%= @post.avg_score %>点（<%= @post.reviews.count %>件のレビュー）
      </div>
    </div>

    <div class="section">
  <h2 class="title is-2 has-text-centered mb-5">投稿者のスポットの感想</h2>
  
  <div class="box">
    <p class="subtitle is-4 has-text-centered"><%= @post.detail %></p>
  </div>
</div>

    <div class="review-section mt-5">
      <p class="title is-4 has-text-centered is-size-3">このスポットの口コミ</p>
      <div class="reviews-list">
        <% @post.reviews.limit(3).each do |review| %>
          <div class="review">
            <figure class="image mb-6">
              <% if review.user.image? %>
                <%= image_tag review.user.image.url, class: 'rounded-circle small-icon mr15' %>
              <% else %>
                <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', class: 'rounded-circle small-icon mr15' %>
              <% end %>
            </figure>
            <span><%= "#{review.user.first_name} #{review.user.last_name}" %></span>
            <span>: <%= review.score %>/5点</span>
            <span class="review-content">: <%= review.content %></span>
          </div>
        <% end %>
        <div class="button is-rounded mt-3">
          <%= link_to 'その他の口コミを見る', all_reviews_post_path(@post) %>
        </div>
      </div>
    </div>

    <div class="box mt-4 has-text-centered">
      <%= link_to 'このスポットの口コミを書く', new_post_review_path(@post), class: "button is-info is-medium" %>
    </div>

    <div class="box">
      <p class="title is-4">このスポットの基本情報</p>
      <p>
        <strong>スポット名：</strong><%= @post.name %><br>
        <strong>住所：</strong><%= @post.address %><br>
        <strong>国名：</strong><%= @post.country %><br>
        <strong>投稿日：</strong><%= @post.created_at.to_s(:datetime_jp) %>
      </p>
    </div>
    <div class="button has-text-centered is-size-3">
      <%= link_to '投稿情報一覧に戻る', posts_path %>
    </div>
  </div>
</section>
