<div class="has-text-centered">
  <h1 class="title">メールアドレス変更する場合</h1>
  <div class="field">
    <label class="label">現在のメールアドレス</label>
    <div class="control">
      <input class="input" type="text" readonly value="<%= @user.email %>">
    </div>
  </div>
  <%= form_with model: @user, url: personal_path, local: true do |f| %>
    <div class="field">
      <label class="label">新しいメールアドレス</label>
      <div class="control">
        <%= f.email_field :email, class: "input" %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= link_to "キャンセル", 'javascript:history.back()', class: "button is-light" %>
      </div>
      <div class="control">
        <%= f.submit "更新", class: "button is-primary", id: "update-email" %>
      </div>
    </div>
  <% end %>
</div>

<div class="has-text-centered">
  <h1 class="title">パスワード変更する場合</h1>
  <%= render 'shared/error', obj: @user %>
  <%= form_with model: @user, url: personal_path, local: true do |f| %>
    <div class="field">
      <label class="label">新規パスワード</label>
      <div class="control">
        <%= f.password_field :password, class: "input" %>
      </div>
    </div>
    <div class="field">
      <label class="label">新規パスワード（確認用）</label>
      <div class="control">
        <%= f.password_field :password_confirmation, class: "input" %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= link_to "キャンセル", 'javascript:history.back()', class: "button is-light" %>
      </div>
      <div class="control">
        <%= f.submit "更新", class: "button is-primary", id: "update-password" %>
      </div>
    </div>
  <% end %>
</div>
