<!DOCTYPE html>
<html>
  <head>
    <title>Explore & Share - Japan app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/66fd231c10.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body-padding">
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main>
    <% if user_signed_in? %>
      <footer class="footer">
        <div class="content has-text-centered">
          <nav class="nav-footer">
            <div class="footer-item">
              <%= link_to posts_path do %>
                <i class="fas fa-home"></i><br>
                ホーム
              <% end %>
            </div>
            <div class="footer-item">
              <%= link_to map_index_path do %>
                <i class="fa-solid fa-comment"></i><br>
                投稿する
              <% end %>
            </div>
            <div class="footer-item">
              <%= link_to search_post_index_path do %>
                <i class="fa-solid fa-magnifying-glass"></i><br>
                検索画面
              <% end %>
            </div>
            <div class="footer-item">
              <%= link_to favorites_user_path(current_user) do %>
                <i class="fa-solid fa-heart"></i><br>
                お気に入り
              <% end %>
            </div>
            <div class="footer-item">
              <%= link_to users_path(current_user)  do %>
                <i class="fa-solid fa-user"></i><br>
                マイページ
              <% end %>
            </div>
          </nav>
        </div>
      </footer>
    <% end %>
    <script src="https://translate.google.com/translate_a/element.js?cb=GoogleTranslateElementInit"></script>
  </body>
</html>
